
header {
    background-color: transparent;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #252525;
    padding: 0.5rem 0;
    position: relative;
  }
  
  nav ul li a:hover::after,
  nav ul li a.active::after {
    width: 100%;
  }
  
  nav ul li a.active {
   border-bottom: #49281c;
  }

  .scrolled{
    position: fixed;
    top: 0;
    background-color: #30476dfa;
    width: 100vw;
    z-index: 1001;
    transition: 1s;
  }
  .hamburger{
    display: none;
  }
  .dropdown-menu{
    display:none;
  }
  @media (max-width: 600px) {
    nav ul{
      display: none;
    }
    .hamburger{
      display: flex;
      position: relative;
      right: 4%;
      top: 3%;
      height: 35px;
      width: 35px;
      z-index: 1004;
    }
    .hamburger:hover{
      cursor: pointer;

    }
    .dropdown-menu{
      display: flex;
      background-color: #30476dfa;
      position: absolute;
      top: 10%;
      right:10%;
      padding: 2rem;
      border-radius: 20px;
      z-index: 1002;
    }
    .dropdown-menu ul{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0;
      justify-content: flex-start;
      padding: 0;
    }
    .dropdown-menu ul li{
      list-style: none;
    }
    .dropdown-menu ul li a {
      text-decoration: none;
      color: #252525;
      padding: 0.8rem 0;
      position: relative;
    }
    .scrolled {
      width: 100%;
    }
    .scrolled nav{
      padding: 0rem 1rem;
    }
  }