.hero {
  background-color: transparent;
  height: 90vh;
  color: black;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #f1f4f7, #ffffff);
  overflow: hidden;
}

.hero::before,
.hero::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
}

.hero::before {
  background: radial-gradient(circle, #5eead4 0%, transparent 70%);
  width: 300px;
  height: 300px;
  top: -300px;
  left: -100px;
}

.hero::after {
  background: radial-gradient(circle, #5eead4 0%, transparent 70%);
  width: 300px;
  height: 400px;
  bottom: -400px;
  right: -200px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
  left: 5%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  position: relative;
  top: 4rem;
}

.greeting {
  display: inline-block;
  background-color: white;
  color: #3B82F6;
  padding: 0.5rem 3.2rem;
  border-radius: 9999px;
  font-size: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  position: relative;
  top: 3rem;
}

.cta-buttons a {
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.hire-me {
  background-color: #4fd1c5;
  color: white;
}

.hire-me:hover {
  background-color: #1e40af85;
}

.view-portfolio {
  background-color: white;
  color: #3B82F6;
}

.view-portfolio:hover {
  background-color: #F3F4F6;
}

.arrow-right {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14 5l7 7m0 0l-7 7m7-7H3'%3E%3C/path%3E%3C/svg%3E");
}

.image-container {
  position: relative;
  width: 400px;
  height: 400px;
  right: 10%;
}

.image-container img {
  position: relative;
  z-index: 4;
  width: 120%;
  height: 140%;
  object-fit: cover;
  left: 3%;
  top: 25%;
}


.rocket{
  position: absolute;
  bottom: -15%;
  left: -7%;
}

@media (max-width: 600px){
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .image-container {
    display: none;
  }
  .rocket{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 200px;
  }
  .greeting {
    padding: 0.5rem 2.1rem;
    border-radius: 9999px;
    font-size: 13px;
    position: relative;
    top: 2rem;
  }
  .content {
    width: 80%;
    z-index: 100;
  }
  .hero{
    height: 70vh;
  }
  .cta-buttons a {
    font-weight: bold;
    padding: 0.5rem;
    width: fit-content;
    font-size: 10px;
    position: relative;
    top: 2rem;
  }
  h1{
    width: 300px;
  }
  .content p{
    display: none;
  }
  .hero::before {
    background: radial-gradient(circle, #5eead4 0%, transparent 70%);
    width: 10px;
    height: 10px;
    top: -30px;
    left: -10px;
  }
  
  .hero::after {
    background: radial-gradient(circle, #5eead4 0%, transparent 70%);
    width: 500px;
    height: 500px;
    bottom: -250px;
    right: -200px;
  }
  
}


@keyframes twinkle {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}