.projects-section {
    padding: 2rem;
  }
  .projects-section h1{
    display: flex;
    position: relative;
    left: 5%;
    width: fit-content;
  }
  .projects-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  @media (min-width: 768px) {
    .projects-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .project-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .description {
    color: black;
    margin-bottom: 1rem;
  }
  
  .learn-more {
    color: #4fd1c5;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .learn-more:hover {
    text-decoration: underline;
  }
  
  .arrow-icon {
    margin-left: 0.25rem;
    width: 1rem;
    height: 1rem;
  }
  .projects-container .project-card:nth-child(1) {
    background-color: black;
    color: white;
  } 
  .projects-container .project-card:nth-child(1) .learn-more {
    color: green
  }
  .projects-container .project-card:nth-child(1) .description {
    color: white
  }
  .projects-container .project-card:nth-child(2) {
    background-color: rgb(31, 136, 29);
    color: white;
  }
  .projects-container .project-card:nth-child(3) {
    background-color: rgb(154, 193, 202);
    color: white;
  }
  .projects-container .project-card:nth-child(2) .learn-more {
    color: white
  }
  .projects-container .project-card:nth-child(3) .learn-more {
    color: white
  }