.testimonial-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 1rem ;
    padding: 3rem;
    position: relative;
    left: 0;
    border-bottom: 1px solid #4a5568;
  }
  .testimonials{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  .testimonial-container h2{
    color: black;
    
  }
  
  .testimonial-icon {
    flex: 0 0 150px;
    height: 100px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .testimonial-icon.left {
    background-color: #e6f7ff;
  }
  
  .testimonial-icon.right {
    background-color: #e6e6ff;
  }
  
  .testimonial-content {
    margin-left: 17rem;
    padding: 2rem;
    position: relative;
    color: black;
    width: 400px;
    background-color:#f6f9fc;
    box-shadow: 1px 1px 5px rgba(160, 148, 148, 0.705);
  }
  
  blockquote {
    font-size:12px;
    line-height: 1.6;
    margin: 0 0 1rem 0;
    font-style: italic;
    width: 280px;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  cite {
    display: block;
    font-style: normal;
  }
  
  .position {
    color: #666;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .testimonial-container {
      flex-direction: column;
      margin-left: 0rem;
      padding: .5rem;
    }
    .testimonial-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0rem;
      padding: 1.5rem;
      width: 300px;
    }
  
    .testimonial-icon {
      margin: 0;
    }
    blockquote {
      margin: 0;
      width: 300px;
    }
  }