.testimonial-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 1rem ;
    padding: 3rem;
    position: relative;
    left: 0;
    border-bottom: 1px solid #4a5568;
  }
  .testimonial-container h2{
    color: white;
    
  }
  
  .testimonial-icon {
    flex: 0 0 150px;
    height: 100px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .testimonial-icon.left {
    background-color: #e6f7ff;
  }
  
  .testimonial-icon.right {
    background-color: #e6e6ff;
  }
  
  .testimonial-content {
    margin-left: 17rem;
    padding: 2rem;
    position: relative;
    color: white;
  }
  
  .testimonial-content::before{
    content: '';
    position: absolute;
    top: 40px;
    width: 50px;
    height: 80px;
    background-color:#4a5568;
    border-radius: 10px;
  }
  .testimonial-content::after{
    content: '';
    position: absolute;
    top: 40px;
    width: 40px;
    height: 80px;
    background-color: #070707;
    border-radius: 10px;
  }
  
  .testimonial-content::before {
    left: -28px;
  }
  .testimonial-content::after {
    right: 97.5%;
  }

  
  blockquote {
    font-size:12px;
    line-height: 1.6;
    margin: 0 0 1rem 0;
    font-style: italic;
    width: 600px;
    color: white;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  cite {
    display: block;
    font-style: normal;
  }
  
  .position {
    color: #666;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .testimonial-container {
      flex-direction: column;
      margin-left: 0rem;
      padding: .5rem;
    }
    .testimonial-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0rem;
      padding: 1.5rem;

    }
  
    .testimonial-icon {
      margin: 0;
    }
  
    .testimonial-content::before,
    .testimonial-content::after {
      width: 50px;
      display: none;
    }
    blockquote {
      margin: 0;
      width: 300px;
    }
  }